@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "cta.scss";
@import "bootstrap-overrides.scss";

.avatar{
	border-radius: 50%;
	max-width: 260px;
	margin-top: 0em;
}